<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <title>Test Email Sample</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>

<body style="
  position: relative;
    box-sizing: border-box;
    background-color: #333D47;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    border-radius: 5px;
">
  <div style="
      margin: 0 auto;
      color: white;
       text-align: center;
       position: relative;
       height: 100%;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
  ">
    <div style=" width: 100%; margin: 0 auto;">
      <h1 style='
    font-size: 3rem;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    '>Hey {{first}}!</h1>

    </div>

    <div style="width: 100%; margin: 0 auto;">
      <h2 style='
    text-align: center;
    font-size: 2rem;
    '>
        Welcome to</h2>
    </div>


    <div style="width: 100%; margin: 0 auto;">
      <img style="
        width: 300px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        " src="https://the-hub.io/assets/img/The_Hub.png" alt="Hub Header" />
    </div>

    <div style="width: 100%; margin: 20px auto;">
      <a target="_blank" style="
        bottom: 20px;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        margin: 20px auto;
        padding: 10px;
        border: 2px solid #62A60A;
        color: #62A60A;
        border-radius: 4px;
        " href={{activation}}>
        Activate your account
      </a>
    </div>
    <br>
    <div style="width: 100%; margin: 0 auto; padding-top: 20px;">
      <p style="text-align: center; margin: 0 auto; padding: 20px;">
        This activation link will expire in 24 hours. If you need another link, please contact your admin.
      </p>
    </div>
  </div>
</body>

</html>