@mixin flex($fd: column, $jc: center, $ai: center) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $ai;
}
@for $i from 1 through 100 {
	.PrivateNotchedOutline-legendLabelled-#{$i} {
		text-align: center !important;
	}
}

body::-webkit-scrollbar {
	display: none;
}

@import './scss/main.scss';
